body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: rgba(11, 12, 11, 0.979);;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #FE2323;
  color: white;
}

li a:hover:not(.active) {
  background-color: #FE2323;
  color: white;
}

.box{
  background-color: #eb0202;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.item1{
  padding-top: 2px;
}

.item2{
  width: 100%;
  height: 500px;
  background: url('../img/PNG/Pilotos-01.png') no-repeat center center;
  background-size: cover; 
}

.item3{
  padding-bottom: 30px;
}

.item3 p{
  text-align: center;
}